{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark" aria-label="Ninth navbar example">
  <div class="container-xl">
    <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mx-auto" href="{% url 'main:home' %}">
      <img src="{% static 'LOGO.PNG' %}" alt="LOGO">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if user.is_authenticated %}
          <div class="nav-link">
            <a class="fas fa-user-circle text-light"></a>
            <a href="#" class="text-light">{{ user.username }}</a>
            <a href="{% url 'signout' %}" class="text-light ml-3">Sign Out <i class="fas fa-sign-out-alt text-light"></i></a>
          </div>
          {% else %}
          <div class="nav-link">
            <a href="{% url 'signup' %}" class="text-light">Sign Up <i class="fas fa-user-plus ml-2 text-light"></i></a>
            <a href="{% url 'signin' %}" class="text-light ml-3">Sign In <i class="fas fa-sign-in-alt text-light"></i></a>
          </div>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar-brand img {
    height: 80px;
    width: auto;
    max-width: 110%;
    border-radius: 10%
  }

  .navbar {
    background-color: #148be0;
  }

  /* Dropdown background and contrast */

  @media (max-width: 767.98px) {
    .navbar-brand {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 60px;
    }

    .navbar-nav {
    margin: auto;
    display: table;
    table-layout: fixed;
    float: none;
  }

    .navbar-nav > li {
    display: table-cell;
    float: none;
  }

    .navbar-toggler {
      margin-left: 0;
    }

    .navbar-nav .dropdown-menu {
      background-color: #368fcf;
      text-align: center;
    } 

    .navbar-brand img {
      max-width: 100%;
      height: 125px;
    }

    .navbar-brand .d-none {
      display: none;
    }
  }
</style>
