{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
  <div class="row justify-content-center pt-3">
    <div class="col-lg-6 col-md-8 col-sm-12">
      <div class="box bg-success py-4">
        <h3 class="text-center text-light">DESTINATION ROUTE SEARCH</h3>
      </div>
      <form class="mt-4" action="{% url 'main:destination' %}" method="get">
        <div class="form-group mb-4">
          <label for="search_term"><h3>Enter Your Destination:</h3></label>
          <div class="input-group">
            <input type="text" class="form-control form-control-lg" name="search_term" id="search_term" required placeholder="e.g. Rathmines">
          </div>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg btn-block">Search</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}