{% extends "base.html" %}
{% load static %}
{% block metadescription %}
Stop Times
{% endblock %}
{% block title %}
Stop Times
{% endblock %}
{% block content %}

<style>
    #map {
        width: 100%;
        height: 850px;
    }

    /* Media query for smaller screens */
    @media (max-width: 768px) {
        #map {
            height: 500px;
        }
    }
</style>


<div class="row">
    <div class="col-md-7">   
        <div id="map"></div>
    </div>
    <div class="col-md-5">
        {% if stop %}
            <h3 class="text-center pt-2 pb-2">
                {{ stop.stop_name }}         
                {% if user.is_authenticated %}
                    {% if stop.stop_id in request.user.favorites.all %}
                        <p class="text-center">This stop is already in your favorites.</p>
                    {% else %}
                    <a href="{% url 'addFavoriteView' stop_id=stop.stop_id %}" class="btn btn-warning"><i class="fa fa-star"></i></a>
                    {% endif %}
                {% endif %}
            </h3>
        {% endif %}
        <table class="table">
    
            <thead>
              <tr>
                <th class="col-1">ROUTE</th>
                <th class="col-1">DIRECTION</th>
                <th class="col-1">DUE</th>
              </tr>
            </thead>
        
            <tbody>
                {% for i in stop_time_list %}
                    <tr>
                        {% if i.arrival_time is None %}
                        {%else%}
                        <td><a href="{% url 'main:routeDetails' i.route_id %}"><h4>{{i.route_short_name}}</h4></a></td>
                        <td>{{i.stop_headsign}}</td>
                        <td>
                            {% if i.arrival_time == stop_time %}
                                <p>Due now</p>
                            {% else %}
                                {{i.arrival_time}}
                            {% endif %}
                        </td>
                        {% endif %}
                    </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<style>
    a:hover {
      text-decoration: none;
      color: none;
    }
</style>

<script>
    
function initMap() {
    var lat = {{stop_lat}};
    var lng = {{stop_lon}};
    var stopLocation = {lat: lat, lng: lng};

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var userLocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: stopLocation
            });

            var userMarker = new google.maps.Marker({
                position: userLocation,
                map: map,
				icon: 'http://maps.google.com/mapfiles/kml/pal3/icon53.png',
                title: 'Your Location'
            });

            var stopMarker = new google.maps.Marker({
                position: stopLocation,
                map: map,
                title: '{{ stop.stop_name }}'
            });

            var stopInfoWindow = new google.maps.InfoWindow({
                content: '<h5>{{ stop.stop_name }}</h5>'
            });

            stopInfoWindow.open(map, stopMarker);
        });
    } else {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: stopLocation
        });

        var stopMarker = new google.maps.Marker({
            position: stopLocation,
            map: map,
            title: '{{ stop.stop_name }}'
        });

        var stopInfoWindow = new google.maps.InfoWindow({
            content: '<h5>{{ stop.stop_name }}</h5>'
        });

        stopInfoWindow.open(map, stopMarker);
    }
}

</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzrvIvbaR-QS_49R5irnOvy-sD3WmIeR0&callback=initMap">
</script>


{% endblock %}
