{% extends "base.html" %}
{% load static %}
{% block title %} 
	Stops
{% endblock %}
{% block content %}
	<!--Breadcrumb navigation-->
    <div class="container">
		<div class="row justify-content-center text-center mt-2 pr-4">
			<div class="col-md-12 col-sm-6">
				<a href="{% url 'main:allStops' %}">
					<div class="box bg-danger box-favorites">
					  <i class="fa fa-sign fa-5x"></i>
					  <h3 class="pl-3">Stops</h3>
				</div>
			  </a>
			</div>
		  </div>
		<form method="GET" action="{% url 'main:allStops' %}">
			<div class="input-group mb-2 pt-2">
			<input type="text" class="form-control py-4" placeholder="Search for stops" name="q" value="{{ request.GET.q }}">
			<div class="input-group-append">
				<button class="btn text-light bg-primary btn-outline-secondary" type="submit">Search Stops</button>
			</div>
			</div>
		</form>
		<div class="row mx-auto">
			{% for stops in stop_lists.object_list %}
				<div class="my_bottom margin col-12 col-lg-4 pt-3">
					<div class="card text-center h-100" style="max-width:500px;">
						<div class="card-body">
							<a href="{{stops.get_absolute_url}}"><h4>{{stops.stop_name}}</h4></a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="mx-auto">
			{% if stop_lists.paginator.num_pages > 1 %}
			<div class="pagination d-flex justify-content-center pt-3">
				<ul class="pagination">
				{% if stop_lists.has_previous %}
					<li class="page-item">
					<a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">&laquo; first</a>
					</li>
					<li class="page-item">
					<a class="page-link" href="?page={{ stop_lists.previous_page_number }}">&lsaquo; previous</a>
					</li>
				{% endif %}

				{% for page in stop_lists.paginator.get_elided_page_range %}
					{% if page == stop_lists.number %}
					<li class="page-item active" aria-current="page">
						<span class="page-link">
						{{ page }}
						<span class="sr-only">(current)</span>
						</span>
					</li>
					{% else %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page }}">{{ page }}</a>
					</li>
					{% endif %}
				{% endfor %}

				{% if stop_lists.has_next %}
					<li class="page-item">
					<a class="page-link" href="?page={{ stop_lists.next_page_number }}">next &rsaquo;</a>
					</li>
					<li class="page-item">
					<a class="page-link" href="?page={{ stop_lists.paginator.num_pages }}">last &raquo;</a>
					</li>
				{% endif %}
				</ul>
			</div>
			{% endif %}
		</div>
		<br>
	</div>

	<style>
		@media (max-width: 768px) {
		  .pagination {
			font-size: 80%;
		  }
		}
		.form-control.py-4 {
		padding-top: 2rem;
		padding-bottom: 2rem;
		}

		.box {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 200px;
			background-color: gray;
			margin: 10px;
			font-size: 18px;
			color: white;
		}
		@media only screen and (min-width: 768px) {
		  .box {
			height: 300px;
			font-size: 24px;
		  }
		  .box-favorites {
		  max-height: 150px;
		  }
		}
	
		a:hover {
		  text-decoration: none;
		  color: inherit;
		}
	</style>

	<script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=<your_api_key_here>&callback=initMap">
	</script>
{% endblock %}
