{% extends "base.html" %}
{% load static %}
{% block metadescription %}
Stop Times
{% endblock %}
{% block title %}
Stop Times
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-7">	
		<div id="map" style="height: 850px; width: 100%;"></div>
	</div>
	<div class="col">
		{% if stop %}
		<h3 class="text-center pt-2 pb-2">{{ stop.stop_name }}</h3>
		{% endif %}
		<table class="table">
	
			<thead>
			  <tr>
				<th class="col-1">ROUTE</th>
				<th class="col-1">DIRECTION</th>
				<th class="col-1">DUE</th>
			  </tr>
			</thead>
		
			<tbody>
				{% for i in stop_time_list %}
						<tr>
							{% if i.arrival_time is None %}
							{%else%}
							<td>{{i.route_short_name}}</td>
							<td>{{i.stop_headsign}}</td>
							<td>{{i.arrival_time}}</td>
							{%endif%}
						</tr>
			  {% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% if user.is_authenticated %}
<form method="POST" action="">
	{% csrf_token %}
	<input type="hidden" name="stop_id" value="{{ stop.id }}">
	<button type="submit">Add to Favorites</button>
</form>
{%endif%}
  


<script>
function initMap() {
    var lat = {{stop_lat}};
    var lng = {{stop_lon}};
    var stopLocation = {lat: lat, lng: lng};

    // Check if geolocation is supported
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            // Use user's current location as center of map
            var userLocation = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 18,
                center: stopLocation
            });

            // Add marker for user's location
            var userMarker = new google.maps.Marker({
                position: userLocation,
                map: map,
				icon: 'http://maps.google.com/mapfiles/kml/pal3/icon53.png',
                title: 'Your Location'
            });

            // Add marker for stop location
            var stopMarker = new google.maps.Marker({
                position: stopLocation,
                map: map,
                title: '{{ stop.stop_name }}'
            });

            // Create info window for stop marker
            var stopInfoWindow = new google.maps.InfoWindow({
                content: '<h5>{{ stop.stop_name }}</h5>'
            });

            // Open info window for stop marker by default
            stopInfoWindow.open(map, stopMarker);
        });
    } else {
        // Geolocation not supported
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: stopLocation
        });

        // Add marker for stop location
        var stopMarker = new google.maps.Marker({
            position: stopLocation,
            map: map,
            title: '{{ stop.stop_name }}'
        });

        // Create info window for stop marker
        var stopInfoWindow = new google.maps.InfoWindow({
            content: '<h5>{{ stop.stop_name }}</h5>'
        });

        // Open info window for stop marker by default
        stopInfoWindow.open(map, stopMarker);
    }
}


</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzrvIvbaR-QS_49R5irnOvy-sD3WmIeR0&callback=initMap">
</script>


{% endblock %}
