{% extends "base.html" %}
{% load static %}
{% block metadescription %}
Stop Times
{% endblock %}
{% block title %}
Stop Times
{% endblock %}
{% block content %}

{% if stop %}
<h3 class="text-center pt-2 pb-2">{{ stop.stop_name }}</h3>
{% endif %}

<div id="map" style="height: 500px; width: 100%; margin-top: 1em;"></div>

<script>
  function initMap() {
    var lat = {{stop_lat}};
    var lng = {{stop_lon}};
    var stopLocation = {lat: lat, lng: lng};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 19,
      center: stopLocation
    });

    var marker = new google.maps.Marker({
      position: stopLocation,
      map: map
    });
}
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzrvIvbaR-QS_49R5irnOvy-sD3WmIeR0&callback=initMap">
</script>

<table class="table">
	
	<thead>
	  <tr>
		<th class="col-2">ROUTE</th>
		<th class="col-2">DIRECTION</th>
		<th class="col-2">DUE</th>
	  </tr>
	</thead>

	<tbody>
		{% for i in stop_time_list %}
				<tr>
					{% if i.arrival_time is None %}
					{%else%}
					<td>{{i.route_short_name}}</td>
					<td>{{i.stop_headsign}}</td>
					<td>{{i.arrival_time}}</td>
					{%endif%}
				</tr>
	  {% endfor %}
	</tbody>
</table>
{% endblock %}
