{% extends "base.html" %}
{% load static %}
{% block title %} 
	{% if continent %}
		{{ continent.name }}
	{% else %}
		Global
	{% endif %}
{% endblock %}
{% block content %}
	<!--Breadcrumb navigation-->
	{% if stop %}
	<br>
	<div>
		<h1 class="text-center">{{stop.stop_name}}</h1>
    {% else %}
	<br>
	<div>
		<h1 class="text-center">All Stops</h1>
	</div>
    {% endif %}

	{% for i in route %}
		{{i.route_short_name}}
	{% endfor %}
	
    <div class="container">
		<div class="row mx-auto">
			{% for stops in stop_lists.object_list %}
				<div class="my_bottom margin col-9 col-lg-4 col-sm-12 col-md-4 pt-3">
					<div class="card text-center h-100" style="max-width:500px;">
						<div class="card-body">
							<a href="{{stops.get_absolute_url}}"><h4>{{stops.stop_name}}</h4></a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="mx-auto">
			{% if stop_lists.paginator.num_pages > 1 %}
				<hr>
				<div class="text-center">
					{% for pg in stop_lists.paginator.page_range %}
						<a href="?page={{pg}}" class="btn btn-light btn-sm {% if stops.number == pg %}active{% endif %}">
						{{pg}}
					</a>
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<br>
	</div>

	<script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzrvIvbaR-QS_49R5irnOvy-sD3WmIeR0&callback=initMap">
	</script>
{% endblock %}
</html>