{% extends 'base.html' %}

{% block content %}
  {% if favorites %}
    <div class="container">
      <div class="row mx-auto">
        {% for favorite in favorites %}
          <div class="my_bottom margin col-12 col-sm-12 col-md-6 col-lg-4 pt-3">
            <div class="card text-center h-100" style="max-width:500px;">
              <div class="card-body">
                <a href="{{favorite.stop.get_absolute_url}}"><h4>{{ favorite.stop }}</h4></a><a href="{% url 'deleteFavoriteView' pk=favorite.pk %}" class="btn btn-sm btn-danger"><strong>Delete</strong></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
      <h1 class="text-center">No Stops Favorited.</h1>
    </div>  
  {% endif %}
{% endblock %}
