{% extends 'base.html' %}

{% block content %}
  {% if favorites %}
    <div class="container">
      <div class="row justify-content-center text-center mt-2 pr-4">
        <div class="col-md-12 col-sm-6">
            <div class="box bg-warning box-favorites">
              <i class="fa fa-star fa-5x"></i>
              <h3 class="pl-3">Favourites</h3>
          </div>
          </a>
        </div>
      </div>
      <div class="row mx-auto">
        {% for favorite in favorites %}
          <div class="my_bottom margin col-12 col-sm-12 col-md-6 col-lg-4 pt-3">
            <div class="card text-center h-100" style="max-width:500px;">
              <div class="card-body">
                <a href="{{favorite.stop.get_absolute_url}}"><h4>{{ favorite.stop }}</h4></a><a href="{% url 'deleteFavoriteView' pk=favorite.pk %}" class="btn btn-sm btn-danger"><strong>Delete</strong></a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
      <h1 class="text-center">No Stops Favorited.</h1>
    </div>  
  {% endif %}

  <style>
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        background-color: gray;
        margin: 10px;
        font-size: 18px;
        color: white;
    }
    @media only screen and (min-width: 768px) {
      .box {
        height: 300px;
        font-size: 24px;
      }
      .box-favorites {
      max-height: 150px;
      }
    }

    a:hover {
      text-decoration: none;
      color: none;
    }
</style>
{% endblock %}
