{% extends "base.html" %}
{% load static %}

{% block title %} 
  Routes
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center text-center mt-2 pr-4">
    <div class="col-md-12 col-sm-6">
      <a href="{% url 'main:allRoutes' %}">
        <div class="box bg-primary box-favorites">
          <i class="fa fa-bus fa-5x"></i>
          <h3 class="pl-3">Routes</h3>
        </div>
      </a>
    </div>
  </div>
  <form method="GET" action="{% url 'main:allRoutes' %}">
    <div class="input-group mb-3 pt-3">
      <input type="text" class="form-control py-4" placeholder="Search For Routes" name="search">
      <div class="input-group-append">
        <button class="btn text-light bg-primary btn-outline-secondary" type="submit">Search Routes</button>
      </div>
    </div>
  </form>

  <div class="row mx-auto">
    {% for route in page_obj %}
    <div class="my_bottom margin col-12 col-lg-4 col-sm-12 col-md-4 pt-3">
      <div class="card text-center h-100" style="max-width:500px;">
        <div class="card-body">
          <a href="{% url 'main:routeDetails' route.route_id %}"><h4>{{ route }}</h4></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if page_obj.has_other_pages %}
  <div class="pagination d-flex justify-content-center pt-3">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">&laquo; first</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a>
      </li>
      {% endif %}

      <li class="page-item active" aria-current="page">
        <span class="page-link">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          <span class="sr-only">(current)</span>
        </span>
      </li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}

  <style>
    @media (max-width: 767.98px) {
      .my_bottom {
        margin-bottom: 0.2em;
      }
      .margin {
        margin-right: auto !important;
        margin-left: auto !important;
      }
      .col-12 {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    .form-control.py-4 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

  .box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      background-color: gray;
      margin: 10px;
      font-size: 18px;
      color: white;
  }
  @media only screen and (min-width: 768px) {
    .box {
      height: 300px;
      font-size: 24px;
    }
    .box-favorites {
    max-height: 150px;
    }
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }
</style
  
</div>

{% endblock %}
