{% extends "base.html" %}
{% load static %}
{% block title %} 
	{% if continent %}
		{{ continent.name }}
	{% else %}
		Global
	{% endif %}
{% endblock %}
{% block content %}
	<!--Breadcrumb navigation-->

  <div class="container">
    <div class="row justify-content-center text-center pr-4">
      <div class="col-md-12 col-sm-6">
        <div class="box bg-info box-favorites">
          <i class="fa fa-map-marker-alt fa-5x"></i>
          <h3 class="pl-3">Nearby Stops</h3>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div id="map" style="height: 850px; width: 100%;"></div>
    </div>
    

	<script>
  function initMap() {
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 17
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var userLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(userLocation);
        var userMarker = new google.maps.Marker({
          position: userLocation,
          map: map,
          icon: 'http://maps.google.com/mapfiles/kml/pal3/icon53.png'
        });
        var userWindow = new google.maps.InfoWindow({
          content: 'Your Current Location.'
        });

        // Open the user's info window
        userWindow.open(map, userMarker);
      }, function() {
        // Handle error getting user location
      });
    } else {
      // Geolocation is not supported by this browser
    }

    var stopLocations = [
      {% for stops in stop_lists.object_list %}
        {lat: {{stops.stop_lat}}, lng: {{stops.stop_lon}}, name: "{{stops.stop_name}}", url: "{{stops.get_absolute_url}}"},
      {% endfor %}
    ];

    var infoWindows = [];

    for (var i = 0; i < stopLocations.length; i++) {
      var marker = new google.maps.Marker({
        position: stopLocations[i],
        map: map,
        icon: 'https://maps.google.com/mapfiles/ms/icons/blue-dot.png' // set the stop marker icon to red
      });

      // Create an info window for each marker
      var infoWindow = new google.maps.InfoWindow({
        content: '<a href="' + stopLocations[i].url + '">' + stopLocations[i].name + '</a>'
      });
      
      // Add the info window to the array
      infoWindows.push(infoWindow);

      // Add an event listener to open the correct info window when the marker is clicked
      marker.addListener('click', function() {
        // Close any open info windows
        for (var j = 0; j < infoWindows.length; j++) {
          infoWindows[j].close();
        }
        
        // Open the clicked marker's info window
        var index = stopLocations.findIndex(function(location) {
          return location.lat === this.getPosition().lat() && location.lng === this.getPosition().lng();
        }.bind(this));
        infoWindows[index].open(map, this);
      });
    }

    // Add an event listener to the map to close any open info windows when the user clicks on the map
    map.addListener('click', function() {
      for (var j = 0; j < infoWindows.length; j++) {
        infoWindows[j].close();
      }
    });
  }
	</script>
	<script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzrvIvbaR-QS_49R5irnOvy-sD3WmIeR0&callback=initMap">
	</script>

<style>
  .box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 200px;
      background-color: gray;
      margin: 10px;
      font-size: 18px;
      color: white;
  }
  @media only screen and (min-width: 768px) {
    .box {
      height: 300px;
      font-size: 24px;
    }
    .box-favorites {
    max-height: 150px;
    }
  }

  a:hover {
    text-decoration: none;
    color: inherit;
  }
</style>
{% endblock %}
</html>